*.iml
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
server/src/main/resources/.env
server/src/main/resources/firebase-service-acc.json
notifications/node_modules
notifications/dist
notifications/src/config/**/*.json
server/out/production

conf/.db_user.txt
conf/.db_pass.txt
